<div class="footer-combo col-12 col-md-5">
  <div class="row">

    <div class="menu-imp-link col-6" id="block-mc-theme-footerlinks">
      <h2>{{ footer_important_links_label }}</h2>
      {{ drupal_menu('footer-important-links', level=1, depth=2, expand=true) }}
    </div>
    <div class="menu-cit-cor col-6" id="block-mc-theme-footercitizenservices">
      <h2>{{ footer_citizen_services_label }}</h2>
      {{ drupal_menu('footer-citizen-services', level=1, depth=2, expand=true) }}
    </div>
  </div>

</div>